.book-container {
    position: relative;
    width: 100%;    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollable-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /*To let it go over for any mobile users */
}

.scrollable-container::-webkit-scrollbar {
    display: none;
}

.scroll-button-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    display: flex;
    direction: row;
    align-items: center;
}

.left-button-container {
    left: 0;
}

.right-button-container {
    right: 0;
}

.scroll-button {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
}

.left-button {
    background-image: url('../../../assets/right-arrow.svg');
    transform: scaleX(-1);
    background-color: white;
    opacity: 0.7;
}

.right-button {
    background-image: url('../../../assets/right-arrow.svg');
    background-color: white;
    opacity: 0.7;
}