* {
    font-family: 'Open-sans', sans-serif;
}

.everything {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    flex-direction: column;
}

.linkContainer {
    flex-grow: 0;
}

.mainContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    background-image: url(../assets/library-alt.jpg);
    background-size: cover;
    opacity: 0.5;
}

.routerContainer {
    display: flex;
}