<!--The content below is only a placeholder and can be replaced.-->
<div class="everything">
    <div class="linkContainer">
        <nav>
            <a routerLink="/genres">Genre cards</a>
        </nav>
        <nav>
            <a routerLink="/books">Books cards</a>
        </nav>
        <nav>
            <a routerLink="/login">Login page</a>
        </nav>
        <app-upload-book></app-upload-book>
    </div>

    <div class='mainContainer'>
        <router-outlet></router-outlet>
    </div>
</div>