<div class='detailsCenterContainer'>
  <div class="detailsContainer">
    <div class="mat-display-3 titleText">{{book.title}}</div>
    <div class="mat-subheading-2 subtitleText">{{book.subtitle}}</div>
    <div class="mat-headline authorsText">{{book.authors[0].name}}</div>
    <div class='bigInfoContainer'>
      <div class='infoContainer'>
        <div class="mat-body descriptionText">{{book.description}}</div>
        <div class="mat-body pagesText">{{book.page_count}}</div>
        <div class="genreContainer">
          <div class="mat-body-2 genreText">Non-fiction</div>
          <div class="mat-body-2 genreText">Business</div>
        </div>
      </div>
      <div class="photoContainer">
        <img src="https://marketplace.canva.com/MACXC0twKgo/1/0/thumbnail_large/canva-green-and-pink-science-fiction-book-cover-MACXC0twKgo.jpg"/>
        <div class="mat-caption photosubText">Hello</div>
      </div>
    </div> 
  </div>
</div>