<div class='detailsCenterContainer'>
  <div class="detailsContainer">
    <div class='headerContainer'>
      <div class="titleText">The Book of Ages</div>
      <div class="authorsText">By Anton De Meester</div>
    </div>
    <div class='bigInfoContainer'>
      <div class='infoContainer'>
        <div class="subtitleText">The best book in the world</div>
        <div class="pagesText">500p</div>
        <div class="genreContainer">
          <div class="genreText">Non-fiction</div>
          <div class="genreText">Business</div>
        </div>
      </div>
      <div class="photoContainer">
        <img src="https://marketplace.canva.com/MACXC0twKgo/1/0/thumbnail_large/canva-green-and-pink-science-fiction-book-cover-MACXC0twKgo.jpg"/>
        <div class="photosubText">Hello</div>
      </div>
    </div> 
  </div>
</div>