.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;

    height: 100%;
}

.box {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 60%;
    width: 60vw;
    background-color: whitesmoke;
    border-radius: 8px;
}

.welcomeText {
    color: black;
}

.inputField {
    width: 40vw;
    min-width: 200px;
}

.loginButton {
    background-color: coral;
}