<div class="loginForm">
    <form [formGroup]='formLogin' (ngSubmit)='onSubmit()' class="box">
        <h1 class="welcomeText">Welcome to your library</h1>
        <mat-form-field class="inputField">
            <input matInput type="text" formControlName="username" placeholder="Username">
        </mat-form-field>
        <mat-form-field class="inputField">
            <input matInput type="password" formControlName="password" placeholder="Password">
        </mat-form-field>
        <button mat-button type='submit' class="inputField loginButton">Log in</button>
    </form>
</div>
