<div class="loginForm">
    <div class="box">
        <h1 class="welcomeText">Welcome to your library</h1>
        <mat-form-field class="inputField">
            <input matInput type="text" name="username" placeholder="Username">
        </mat-form-field>
        <mat-form-field class="inputField">
            <input matInput type="password" name="password" placeholder="Password">
        </mat-form-field>
        <button mat-button class="inputField loginButton">Log in</button>
    </div>
</div>
